db:
  image: postgres
  ports:
    - "5432"
web:
  build: .
  command: "/bin/bash -c 'python manage.py migrate; python manage.py runserver 0.0.0.0:8070'"
  volumes:
    - .:/src
  environment:
    PORT: 8070
    DATABASE_URL: postgres://postgres@db:5432/postgres
  ports:
    - "8070:8070"
  links:
    - db
