Django==1.8.1
PyYAML==3.11
dj-database-url==0.3.0
dj-static==0.0.6
uwsgi==2.0.10
psycopg2==2.6
tox==1.9.2
static3==0.5.1
git+https://github.com/mitodl/xbundle.git@7799a0957c502103fb030fc0b16c64204f551c75#egg=xbundle
git+https://github.com/gdub/python-archive.git@61b9afde21621a8acce964d3336a7fb5d2d07ca6#egg=python-archive
django-compressor==1.5
git+https://github.com/bpeschier/django-compressor-requirejs@889d5edc4f2acaa961c170084f1171c700649519#egg=githubdjango-compressor-requirejs-develop
django-appconf==1.0.1
