# Core project/common application testing requirements

pytest
pytest-pep8
pytest-pylint
pytest-cov
pytest-django
pytest-capturelog
pytest-watch
pytest-xdist
mock
ipdb
ipython
urltools
semantic_version
responses
