# Core project/common application testing requirements

django-celery
pytest
pytest-pep8
# logilab-common is only necessary because pylint's dependency chain will
# result in the latest logilab-common being fetched, but astroid
# (another pylint dependency) depends on logilab-common<=0.63.0
logilab-common==0.63.0
pytest-pylint
pytest-cov
pytest-django
pytest-capturelog
pytest-watch
pytest-xdist
mock
ipdb
ipython
urltools
semantic_version
