# Core project/common application testing requirements

pytest
pytest-pep8
pytest-pylint
pytest-cov
pytest-django
pytest-capturelog
pytest-watch
pytest-xdist
mock
ipython
urltools
semantic_version
# Have to do this temporarily as logilab-common 1.0.0 broke the build
logilab-common<1.0.0
