{% load static %}
{% if facets.fields.course %}

<div id="facet-panel" data-current-queryset="{{ qs_prefix }}"
     class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-1">
        Course
      </a>
    </h4>
  </div>
  <div id="collapse-1" class="panel-collapse collapse in">
    <div class="panel-body">
      <ul class="icheck-list">
        {% for course in facets.fields.course %}
        <li>
          <input id="check-course-{{ forloop.counter }}"
                 tabindex="add" type="checkbox" class="icheck-11"
                 data-facet-name="course_exact"
                 data-facet-value="{{ course.0 }}"
          >
          <label for="check-course-{{ forloop.counter }}">{{ course.0 }}</label>
          <span class="badge">{{ course.1 }}</span>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>
</div>
{% if facets.fields.run %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-2">
        Run
      </a>
    </h4>
  </div>
  <div id="collapse-2" class="panel-collapse collapse in">
    <div class="panel-body">
      <ul class="icheck-list">
        {% for run in facets.fields.run %}
        <li>
          <input id="check-run-{{ forloop.counter }}"
                 tabindex="add" type="checkbox" class="icheck-11"
                 data-facet-name="run_exact"
                 data-facet-value="{{ run.0 }}"
          >
          <label for="check-run-{{ forloop.counter }}">{{ run.0 }}</label>
          <span class="badge">{{ run.1 }}</span>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endif %}
{% if facets.fields.resource_type %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-3">
        Item Type
      </a>
    </h4>
  </div>
  <div id="collapse-3" class="panel-collapse collapse in">
    <div class="panel-body">
      <ul class="icheck-list">
        {% for resource_type in facets.fields.resource_type %}
        <li>
          <input id="check-type-{{ forloop.counter }}"
              tabindex="add" type="checkbox" class="icheck-11"
              data-facet-name="resource_type_exact"
              data-facet-value="{{ resource_type.0 }}"
          >
          <span class="min-width">
            {# Select image based on type #}
            {% if resource_type.0 == 'chapter' %}
            <img class="ic-custom"
                 src="{% static "ui/images/ic-book.png" %}">
            {% elif resource_type.0 == 'sequential' %}
            <img class="ic-custom"
                 src="{% static "ui/images/ic-sequential.png" %}">
            {% elif resource_type.0 == 'vertical' %}
            <img class="ic-custom"
                 src="{% static "ui/images/ic-vertical.png" %}">
            {% elif resource_type.0 == 'problem' %}
            <img class="ic-custom"
                 src="{% static "ui/images/ic-pieces.png" %}">
            {% elif resource_type.0 == 'video' %}
            <img class="ic-custom"
                 src="{% static "ui/images/ic-video.png" %}">
            {% else %}
            <img class="ic-custom"
                 src="{% static "ui/images/ic-code.png" %}">
            {% endif %}
          </span>
          <label for="check-type-{{ forloop.counter }}">
            {{ resource_type.0 }}
          </label>
          <span class="badge">{{ resource_type.1 }}</span>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% for name, vocab in vocabularies.items %}
{% if vocab %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-vocab-{{ forloop.counter }}">
        {{ name|title }}
      </a>
    </h4>
  </div>
  <div id="collapse-vocab-{{ forloop.counter }}" class="panel-collapse collapse in">
    <div class="panel-body">
      <ul class="icheck-list">
        {% for term in vocab %}
        <li>
          <input id="check-{{ name }}-{{ forloop.counter }}"
                 tabindex="add" type="checkbox" class="icheck-11"
                 data-facet-name="{{ name|urlencode }}_exact"
                 data-facet-value="{{ term.0 }}"
          >
          <label for="check-{{ name }}-{{ forloop.counter }}">{{ term.2 }}</label>
          <span class="badge">{{ term.1 }}</span>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endif %}
{% endfor %}
{% endif %}
