{% load static %}
<div class="row">
  <div class="col-md-10">
    <div class="tile">
      <div class="tile-icon tile-color-1">
        {# Select image based on type #}
        {% if result.resource_type == 'chapter' %}
        <img class="ic-custom"
             src="{% static "ui/images/ic-book.png" %}">
        {% elif result.resource_type == 'sequential' %}
        <img class="ic-custom"
             src="{% static "ui/images/ic-sequential.png" %}">
        {% elif result.resource_type == 'vertical' %}
        <img class="ic-custom"
             src="{% static "ui/images/ic-vertical.png" %}">
        {% elif result.resource_type == 'problem' %}
        <img class="ic-custom"
             src="{% static "ui/images/ic-pieces.png" %}">
        {% elif result.resource_type == 'video' %}
        <img class="ic-custom"
             src="{% static "ui/images/ic-video.png" %}">
        {% else %}
        <img class="ic-custom"
             src="{% static "ui/images/ic-code.png" %}">
        {% endif %}
      </div>
      <div class="tile-content">
        <h2>
          <a href="#" class="cd-btn" data-learningresource-id="{{ result.lid }}">
            {% if result.title %}
            {{ result.title }}
            {% else %}
            No Title
            {% endif %}
          </a>
        </h2>

        <div class="tile-meta">
          <span class="meta-item">{{ result.description_path }}</span>
        </div>
        <div class="tile-blurb">
          <span id="lr_desc_{{ result.lid }}" class="text-description">
          {% if result.description %}
          {{ result.description }}
          {% else %}
          No description provided.
          {% endif %}
          </span>
          <i class="fa fa-pencil edit-btn" data-lid="{{ result.lid }}" data-repo-slug="{{ repo.slug }}"></i>
          <div align="right">
            <i class="fa fa-save save-btn"></i>
            <i class="fa fa-close cancel-btn"></i>
          </div>
        </div>
        <div class="tile-meta">
          <span class="meta-item">{{ result.course }}</span>
          <span class="meta-item">{{ result.run }}</span>
          <span class="sub-meta">
            <span class="meta-item mi-col-1"><i class="fa fa-eye"></i> {{ result.nr_views }}</span>
            <span class="meta-item mi-col-2"><i class="fa fa-edit"></i> {{ result.nr_attempts }}</span>
            <span class="meta-item mi-col-3"><i class="fa fa-graduation-cap"></i> {{ result.avg_grade }}</span>
            <span class="meta-item mi-col-4"><a href="{{ result.preview_url }}" target="_blank">Preview</a></span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2 col-export">
    <a class="link-export" href="#" data-learningresource-id="{{ result.lid }}"
       {% if result.lid in exports %}
         data-selected="true"
       {% else %}
         data-selected="false"
       {% endif %}
      >
    <i></i>
      Export
    </a>
  </div>
</div>
