{% load static %}
<div class="row">
  <div class="col-md-10">
    <div class="tile">
      <div class="tile-icon tile-color-1">
        {# Select image based on type #}
        {% if result.resource_type == 'chapter' %}
        <img class="ic-custom"
             src="{% static "ui/images/ic-book.png" %}">
        {% elif result.resource_type == 'sequential' %}
        <img class="ic-custom"
             src="{% static "ui/images/ic-sequential.png" %}">
        {% elif result.resource_type == 'vertical' %}
        <img class="ic-custom"
             src="{% static "ui/images/ic-vertical.png" %}">
        {% elif result.resource_type == 'problem' %}
        <img class="ic-custom"
             src="{% static "ui/images/ic-pieces.png" %}">
        {% elif result.resource_type == 'video' %}
        <img class="ic-custom"
             src="{% static "ui/images/ic-video.png" %}">
        {% else %}
        <img class="ic-custom"
             src="{% static "ui/images/ic-code.png" %}">
        {% endif %}
      </div>
      <div class="tile-content">
        <h2>
          <a href="{% url 'export' repo.slug result.object.id %}" class="cd-btn" data-learningresource-id="{{ result.object.id }}">
            {% if result.object.title %}
            {{ result.object.title }}
            {% else %}
            No Title
            {% endif %}
          </a>
        </h2>
        
        <div class="tile-blurb">
          {% if result.object.description %}
          {{ result.object.description }}
          {% else %}
          No description provided.
          {% endif %}
        </div>
        <div class="tile-meta">
          <span class="meta-item">{{ result.object.course.course_number }}</span>
          <span class="meta-item">{{ result.object.course.run }}</span>
          <span class="meta-item"><a href="{{ result.object.get_preview_url }}" target="_blank">Preview</a></span>
        </div>
      </div>
    </div>
  </div>
</div>
