<div class="cd-panel-2 from-right">
  <header class="cd-panel-header">
    <h1>Manage Taxonomies</h1>
    <!--<a href="" class="btn btn-white"><i class="fa fa-plus-circle"></i> Vocabulary</a>-->
    <a href="#0" class="cd-panel-close">Close</a>
  </header>
  <div class="cd-panel-container">
    <div class="cd-panel-content">
      <ul class="nav nav-tabs drawer-tabs nav-tabs-justified">
        <li class="active">
          <a href="#tab-taxonomies" data-toggle="tab" aria-expanded="true">
            <span class="hidden-xs">Taxonomies</span>
          </a>
        </li>
        <li class="tab-long">
          <a href="#tab-vocab" data-toggle="tab" aria-expanded="false">
            <span class="hidden-xs">Add Vocabulary</span>
            
          </a>
        </li>
      </ul>
      <div id="taxonomy-component">
      </div>
    </div>
    <!-- cd-panel-content -->
  </div>
  <!-- cd-panel-container -->
</div>
