{% load compress staticfiles bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MIT - LORE {% block title %}{% endblock %}</title>
    {% compress js %}
    {# Special include for modernizr to load early #}
    <script type="text/javascript"
      src="{% static "bower/modernizr/modernizr.js" %}"
    ></script>
    {% endcompress %}
    <link
       href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif"
       rel="stylesheet"
       type="text/css"
     >

    {% compress css %}
    {# Vendor CSS #}
    <link
       rel="stylesheet"
       href="{% static "bower/components-font-awesome/css/font-awesome.css" %}"
    >
    <link rel="stylesheet" href="{% static "bower/icheck/skins/all.css" %}">
    <link
       rel="stylesheet"
       href="{% static "bower/bootstrap/dist/css/bootstrap.css" %}"
     >
    {# Site css #}
    <link rel="stylesheet" href="{% static "ui/css/slide-drawer.css" %}">
    <link rel="stylesheet" href="{% static "ui/css/mit-lore.css" %}">
    {% endcompress %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block extrahead %}
    {% endblock %}


  </head>
  <body>
    {% bootstrap_messages %}
    <nav class="navbar navbar-lore">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url "welcome" %}"><img src="{% static "ui/images/logo-mit-lore.png" %}" alt="MIT LORE" /></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            {% block nav %}{% endblock %}
          </ul>
          <ul class="nav navbar-nav navbar-right navbar-utility">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle nav-highlight" data-toggle="dropdown" role="button" aria-expanded="false">{{ request.user.username }}<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{% url "cas_logout" %}?next_page=/">Logout</a></li>
                {% block actions %}{% endblock %}
                <!-- <li><a href="#">Action</a></li> -->
                <!-- <li><a href="#">Another action</a></li> -->
                <!-- <li><a href="#">Something else here</a></li> -->
                <!-- <li class="divider"></li> -->
                <!-- <li><a href="#">Separated link</a></li> -->
              </ul>
            </li>
            {% block extranavbarright %}{% endblock %}
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>
    <div class="container">
    {% block content %}
    {% endblock %}
      <footer>
        <div class="container">
          © 2015, Massachusetts Institute of Technology
          <span class="links-footer">
            <a href="">About LORE</a>
            <a href="">Help</a>
          </span>
        </div>
      </footer>
    </div>
    {% compress js %}
    <script type="text/javascript"
      src="{% static "bower/retina.js/dist/retina.js" %}">
    </script>
    <script type="text/requirejs"
      src="{% static "bower/requirejs/require.js" %}">
    </script>
    <script type="text/javascript">
      require.config({
        baseUrl: "{% static "bower"%}",
        shim: {
          "icheck": {"deps": ["jquery"]},
          "bootstrap": {"deps": ["jquery"]}
        },
        paths: {
          jquery: "jquery/dist/jquery",
          bootstrap: "bootstrap/dist/js/bootstrap",
          icheck: "icheck/icheck",
          retina: "retina.js/dist/retina",
          react: "react/react",
          reactaddons: "react/react-with-addons",
          lodash: "lodash/lodash",
          csrf: "../ui/js/csrf",
          listing: "../ui/js/listing"
        }
      });
    </script>
    {% endcompress %}
    {% block postcontent %}
    {% endblock %}
  </body>
</html>
