{% extends "base.html" %}
{% load staticfiles compress %}
{% block title %}Listing{% endblock %}
{% block content %}

<style>
.container {
  width: 100%;
}
</style>
<div id="data">

</div>
{% include "includes/resource_panel.html" %}
<!-- Modal -->
<div class="modal fade" id="progress-modal" tabindex="-1" role="dialog" aria-labelledby="progressModal">
  <div class="modal-dialog" role="document">
  </div>
</div>
<div id="confirmation-container"></div>
{% endblock %}
{% block postcontent %}
{{ block.super }}
{% compress js %}
<script type="text/jsx"
        src="{% static "ui/js/learningresources/learning_resources.jsx" %}">
</script>
<script type="text/jsx"
        src="{% static "ui/js/learningresources/static_assets.jsx" %}">
</script>
<script type="text/jsx"
        src="{% static "ui/js/util/confirmation_dialog.jsx" %}">
</script>
<script type="text/jsx"
        src="{% static "ui/js/util/icheckbox.jsx" %}">
</script>
<script type="text/jsx"
        src="{% static "ui/js/util/infinite_list.jsx" %}">
</script>
<script type="text/jsx"
        src="{% static "ui/js/util/react_overlay_loader.jsx" %}">
</script>
<script type="text/jsx"
        src="{% static "ui/js/util/select2_component.jsx" %}">
</script>
<script type="text/jsx"
        src="{% static "ui/js/util/status_box.jsx" %}">
</script>
<script type="text/jsx"
        src="{% static "ui/js/util/utils.jsx" %}">
</script>
<script type="text/jsx"
        src="{% static "ui/js/listing/lore_data_table.jsx" %}">
</script>
{% endcompress %}
<script type="text/javascript">
require(["jquery", "utils", "lore_data_table"],
        function($, Utils, LoreDataTable) {
  var repoSlug = "{{ repo.slug|escapejs }}";

  $(function() {
    Utils.getCollection("/api/v1/repositories/" + repoSlug + "/search/?page_size=1000").then(function(results) {
      LoreDataTable.loader(repoSlug, results, $("#data")[0]);
    });
  });
});
</script>
{% compress css %}
    <link
       rel="stylesheet"
       href="{% static "lib/css/index.min.css" %}" />
{% endcompress %}
{% endblock %}
