{% extends "repo_base.html" %}
{% block title %}Listing{% endblock %}
{% block content %}
    <div id="header"></div>
    <div class="col-md-3">
        <div class="panel-group lore-panel-group" id="nav">
            <div class="panel panel-default">
                <div class="panel-heading">
                {% if courses.count > 0 %}
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-1">
                            Course
                        </a>
                    </h4>
                </div>
            </div>
            <ul>
                {% for course in courses %}
                    <li>
                        {{ course.course_number }}
                    </li>
                {% endfor %}
            </ul>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-1">
                            Run
                        </a>
                    </h4>
                </div>
            </div>
            <ul>
                {% for run in runs %}
                    <li>
                        {{ run }}
                    </li>

                {% endfor %}
            </ul>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-1">
                            Item Type
                        </a>
                    </h4>
                </div>
            </div>
            <ul>
                {% for tag in tags %}
                    <li>
                        {{ tag.name }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
        <div class="col-md-9 col-results">
            <div class="row grid-row-top">
                <div class="col-md-5"></div>
                <div class="col-md-7 text-right"></div>
            </div>
            {% for resource in resources %}
                <div class="row">
                    <div class="col-md-10">
                        <div class="tile">
                            <div class="tile-icon tile-color-1">
                                <img class="ic-custom" height="18" width="24" src="http://pureui.com/c/mit/lore/build001/assets/images/ic-book@2x.png">
                            </div>
                            <div class="tile-content">
                                <h2>
                                    <a class="cd-btn" href="#0">{{ resource.title }}</a>
                                </h2>
                                <div class="tile-blurb">Lorem ipsum dolor sit amet, usu eu alii solum, eos harum dolor at. Per dico nulla at, sea iisque verterem partiendono…</div>
                                <div class="tile-meta">
                                    <span class="meta-item">8.011</span>
                                    <span class="meta-item">Spring 2014</span>
                                    <span class="meta-item">
                                        <i class="fa fa-eye"></i>
                                        324
                                    </span>
                                    <span><a href="{% url 'export' resource.id %}">xml</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="lore-pagination">
                        {% if resources.has_other_pages %}
                            {% if resources.has_previous %}
                                <a href="{% url 'listing' repo.slug resources.previous_page_number  %}"><i class="fa fa-angle-left"></i></a>
                            {% endif %}
                            {{ resources }}
                            {% if resources.has_next %}
                                <a href="{% url 'listing' repo.slug resources.next_page_number  %}"><i class="fa fa-angle-right"></i></a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            </div>
                {% endif %} {# endif for if courses.count > 0, hide all this for empty repos #}

{% endblock %}
