{% extends "base.html" %}
{% block content %}
<div id="header"></div>

<div>
    <a href="{% url 'upload' repo.slug %}">import</a>
</div>
<div class="col-md-3">
    <div class="panel-group lore-panel-group" id="nav">
        <div class="panel panel-default">
            <div class="panel-heading">
    {% if courses.count > 0 %}
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-1">
                        Course
                    </a>
                </h4>
            </div>
        </div>

    <ul>
    {% for course in courses %}
        <li>
            {{ course.course_number }}
        </li>

    {% endfor %}
    </ul>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-1">
                        Run
                    </a>
                </h4>
            </div>
        </div>

    <ul>
    {% for run in runs %}
        <li>
            {{ run }}
        </li>

    {% endfor %}
    </ul>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-1">
                        Item Type
                    </a>
                </h4>
            </div>
        </div>

    <ul>
    {% for tag in tags %}
        <li>
            {{ tag.name }}
        </li>

    {% endfor %}
    </ul>
    </div>
</div>
<div class="col-md-9 col-results">
    <div id="resources">

    <table>
    <tr><th>Type</th><th>title</th><th>Path</th><th>Export</th></tr>
    {% for resource in resources %}
        <tr>
            <td>
                {{ resource.learning_resource_type.name }}
            </td>
            <td>
                {{ resource.title }}
            </td>
            <td>
                {{ resource.materialized_path }}
            </td>
            <td>
                <a href="{% url 'export' resource.id %}">xml</a>
            </td>
        </tr>
    {% endfor %}
    </table>

    {% if resources.has_other_pages %}
    {% if resources.has_previous %}
    <a href="{% url 'listing' repo.id resources.previous_page_number  %}">page {{ resources.previous_page_number }}</a>
    {% endif %}
    {{ resources }}
    {% if resources.has_next %}
    <a href="{% url 'listing' repo.slug resources.next_page_number  %}">page {{ resources.next_page_number }}</a>
    {% endif %}
    {% endif %}
    </div>
</div>
{% endif %} {# endif for if courses.count > 0, hide all this for empty repos #}

{% endblock %}
