{% extends "repo_base.html" %}
{% load staticfiles compress %}
{% block title %}Listing{% endblock %}
{% block content %}

<div class="container container-search">
  <div class="row row-search">
    <form class="form-inline" method="GET" action="{% url 'repositories' repo.slug %}">
      <div class="col-md-12 input-group">
        <input
           id="id_q" name="q" type="search"
           class="form-control input-lg input-search col-md-12"
           placeholder="Search for terms in learning resource titles, descriptions or content..."
           {% if form.q.value %}value="{{ form.q.value }}"{% endif %}
         >
        <span class="input-group-btn">
          <button type="submit" class="btn btn-default btn-lg">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </form>
  </div>
</div>
<div class="col-md-3">
  <div class="panel-group lore-panel-group">
    {% include "includes/facet_panel.html" %}
  </div>
</div>
<div class="col-md-9 col-results">
  <div class="row grid-row-top">
    <div class="col-md-5">
      {% if page.object_list %}
      <!-- Split button -->
      <span>Sort by</span>
      <div class="btn-group">
        <button type="button" class="btn btn-default">{{ sorting_options.current.1 }}</button>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
          {% for sorting_option in sorting_options.all %}
          <li><a href="{% url 'repositories' repo.slug %}{{ qs_prefix }}sortby={{ sorting_option.0 }}">{{ sorting_option.1 }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </div>
    <div class="col-md-7 text-right"></div>
    <div class="col-md-5"></div>
    <div class="col-md-7 text-right">
      {% if show_export_button %}
      <button id="export_button" class="btn btn-primary" type="button" data-export-count="{{ exports|length }}" data-logged-in-user="{{ request.user.username }}">Export </button>
      {% endif %}
    </div>
  </div>
  {% for result in page.object_list %}
    {% include "includes/learning_resource.html" %}
  {% endfor %}
</div>

<div class="row">
  <div class="col-md-12">
    <div class="lore-pagination">
      {% if page.has_other_pages %}
      {% if page.has_previous %}
      <a href="{% url 'repositories' repo.slug %}{{ qs_prefix }}page={{ page.previous_page_number }}&sortby={{ sorting_options.current.0 }}">
        <i class="fa fa-angle-left"></i>
      </a>
      {% endif %}
      <a id="repo_page_status" class="repo-page-status" data-page-num="{{ page.number }}" data-max-page-num="{{ page.paginator.num_pages }}">
          Page {{ page.number }} of {{ page.paginator.num_pages }}
      </a>
      {% if page.has_next %}
      <a href="{% url 'repositories' repo.slug %}{{ qs_prefix}}page={{ page.next_page_number }}&sortby={{ sorting_options.current.0 }}">
        <i class="fa fa-angle-right"></i>
      </a>
      {% endif %}
      {% endif %}
    </div>
  </div>
</div>
{% include "includes/resource_panel.html" %}
{% include "includes/taxonomy_panel.html" %}
{% if 'manage_repo_users' in perms_on_cur_repo %}
  {% include "includes/members_panel.html" %}
{% endif %}
{% include "includes/exports_panel.html" %}
<!-- Modal -->
<div class="modal fade" id="progress-modal" tabindex="-1" role="dialog" aria-labelledby="progressModal">
  <div class="modal-dialog" role="document">
  </div>
</div>
{% endblock %}
{% block postcontent %}
{{ block.super }}
{% compress js %}
<script type="text/jsx"
        src="{% static "ui/js/manage_taxonomies.jsx" %}">
</script>
<script type="text/jsx"
        src="{% static "ui/js/learning_resources.jsx" %}">
</script>
<script type="text/jsx"
        src="{% static "ui/js/static_assets.jsx" %}">
</script>
<script type="text/jsx"
        src="{% static "ui/js/lr_exports.jsx" %}">
</script>
<script type="text/jsx"
        src="{% static "ui/js/utils.jsx" %}">
</script>
<script type="text/javascript">
  require(["listing"]);
</script>
{% endcompress %}
{% endblock %}
