{% extends "base.html" %}
{% block nav %}
  {{ nav.super }}
  	{% if 'import_course' in perms_on_cur_repo %}
	  <li>
	  	<a href="{% url 'upload' repo.slug %}"><i class="fa fa-arrow-circle-o-right"></i> Import Course</a>
	  </li>
	{% endif %}
  <!-- <li><a href="#0" class="btn-taxonomies"><i class="fa fa-cogs"></i> Manage Taxonomies</a></li> -->
  {% endblock %}

  {% block extranavbarright %}
  <span class="text-repo-name">Repository: <a href="{% url 'listing' repo.slug %}">{{ repo.name }}</a></span>
  {% endblock %}
