{% extends "repo_base.html" %}
{% block title %}Listing{% endblock %}
{% block content %}
    <div id="header"></div>
    <div class="col-md-3">
        <form method="GET" action="{% url 'repositories' repo.slug %}">
            {{ form.as_table }}
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
    <div class="col-md-9 col-results">
        <div class="row grid-row-top">
            <div class="col-md-5"></div>
            <div class="col-md-7 text-right"></div>
        </div>
        {% for result in page.object_list %}
            <div class="row">
                <div class="col-md-10">
                    <div class="tile">
                        <div class="tile-icon tile-color-1">
                            <img class="ic-custom" height="18" width="24"
                                 src="http://pureui.com/c/mit/lore/build001/assets/images/ic-book@2x.png">
                        </div>
                        <div class="tile-content">
                            <h2>
                                <a href="{% url 'export' result.object.id %}">
                                    {% if result.object.title %}
                                        {{ result.object.title }}
                                    {% else %}
                                        no title
                                    {% endif %}
                                </a>
                            </h2>

                            <div class="tile-blurb"> Description .. should be editable by user
                            </div>
                            <div class="tile-meta">
                                <span class="meta-item">{{ result.object.course.course_number }}</span>
                                <span class="meta-item">{{ result.object.course.run }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="lore-pagination">
                {% if page.has_other_pages %}
                    {% if page.has_previous %}
                        <a href="{% url 'repositories' repo.slug %}?page={{ page.previous_page_number }}"><i
                                class="fa fa-angle-left"></i></a>
                    {% endif %}

                    {% if page.has_next %}
                        <a href="{% url 'repositories' repo.slug %}?page={{ page.next_page_number }}"><i
                                class="fa fa-angle-right"></i></a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    </div>

{% endblock %}
