{% extends "repo_base.html" %}
{% block title %}Listing{% endblock %}
{% block content %}

<div id="header"></div>
<div class="container container-search">
  <div class="row row-search">
    <form class="form-inline" method="GET" action="{% url 'repositories' repo.slug %}">
      <div class="col-md-12 input-group">
        <input
           id="id_q" name="q" type="search"
           class="form-control input-lg input-search col-md-12"
           placeholder="Search..."
           {% if form.q.value %}value="{{ form.q.value }}"{% endif %}
         >
        <span class="input-group-btn">
        <button type="submit" class="btn btn-default btn-lg">
          <i class="fa fa-search"></i>
        </button>
        </span>
      </div>
    </form>
  </div>
</div>
<div class="col-md-3">

        {% if facets.fields.course %}
        Course
        <ul class="list-group">
        {% for course in facets.fields.course %}
            <li class="list-group-item">
                <a href="{% url 'repositories' repo.slug %}{{ qs_prefix }}selected_facets=course_exact:{{ course.0|urlencode }}">
                {{ course.0 }}
                </a>
                <span class="badge">{{ course.1 }}</span>
            </li>
        {% endfor %}
        </ul>
        {% endif %}

        {% if facets.fields.run %}
        Run
        <ul class="list-group">
        {% for run in facets.fields.run %}
            <li class="list-group-item">
                <a href="{% url 'repositories' repo.slug %}{{ qs_prefix }}selected_facets=run_exact:{{ run.0|urlencode }}">
                {{ run.0 }}
                </a>
                <span class="badge">{{ run.1 }}</span>
            </li>
        {% endfor %}
        </ul>
        {% endif %}

        {% if facets.fields.resource_type %}
        Item Type
        <ul class="list-group">
        {% for resource_type in facets.fields.resource_type %}
            <li class="list-group-item">
                <a href="{% url 'repositories' repo.slug %}{{ qs_prefix }}selected_facets=resource_type_exact:{{ resource_type.0|urlencode }}">
                {{ resource_type.0 }}
                </a>
                <span class="badge">{{ resource_type.1 }}</span>
            </li>
        {% endfor %}
        </ul>
        {% endif %}


    </div>
    <div class="col-md-9 col-results">
        <div class="row grid-row-top">
            <div class="col-md-5"></div>
            <div class="col-md-7 text-right"></div>
        </div>
        {% for result in page.object_list %}
            <div class="row">
                <div class="col-md-10">
                    <div class="tile">
                        <div class="tile-icon tile-color-1">
                            <img class="ic-custom" height="18" width="24"
                                 src="http://pureui.com/c/mit/lore/build001/assets/images/ic-book@2x.png">
                        </div>
                        <div class="tile-content">
                            <h2>
                                <a href="{% url 'export' repo.slug result.object.id %}">
                                    {% if result.object.title %}
                                        {{ result.object.title }}
                                    {% else %}
                                        no title
                                    {% endif %}
                                </a>
                            </h2>

                            <div class="tile-blurb"> Description .. should be editable by user
                            </div>
                            <div class="tile-meta">
                                <span class="meta-item">{{ result.object.course.course_number }}</span>
                                <span class="meta-item">{{ result.object.course.run }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="lore-pagination">
                {% if page.has_other_pages %}
                    {% if page.has_previous %}
                        <a href="{% url 'repositories' repo.slug %}{{ qs_prefix }}page={{ page.previous_page_number }}"><i
                                class="fa fa-angle-left"></i></a>
                    {% endif %}

                    {% if page.has_next %}
                        <a href="{% url 'repositories' repo.slug %}{{ qs_prefix }}page={{ page.next_page_number }}"><i
                                class="fa fa-angle-right"></i></a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    </div>

{% endblock %}
