{% extends "repo_base.html" %}
{% load staticfiles compress %}
{% block title %}Listing{% endblock %}
{% block content %}

<div class="container container-search">
  <div class="row row-search">
    <form class="form-inline" method="GET" action="{% url 'repositories' repo.slug %}">
      <div class="col-md-12 input-group">
        <input
           id="id_q" name="q" type="search"
           class="form-control input-lg input-search col-md-12"
           placeholder="Search for terms in learning resource titles, descriptions or content..."
           {% if form.q.value %}value="{{ form.q.value }}"{% endif %}
         >
        <span class="input-group-btn">
          <button type="submit" class="btn btn-default btn-lg"
                  id="search_button">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </form>
  </div>
</div>
<div id="listing">
</div>
{% include "includes/resource_panel.html" %}
{% include "includes/taxonomy_panel.html" %}
{% if 'manage_repo_users' in perms_on_cur_repo %}
  {% include "includes/members_panel.html" %}
{% endif %}
{% include "includes/exports_panel.html" %}
<!-- Modal -->
<div class="modal fade" id="progress-modal" tabindex="-1" role="dialog" aria-labelledby="progressModal">
  <div class="modal-dialog" role="document">
  </div>
</div>
<div id="confirmation-container"></div>
{% endblock %}
{% block postcontent %}
{{ block.super }}
{% compress js %}
<script type="text/javascript" src="{% static "ui/js/listing.js" %}"></script>
<script type="text/jsx"
        src="{% static "ui/js/manage_taxonomies.jsx" %}">
</script>
<script type="text/jsx"
        src="{% static "ui/js/learning_resources.jsx" %}">
</script>
<script type="text/jsx"
        src="{% static "ui/js/static_assets.jsx" %}">
</script>
<script type="text/jsx"
        src="{% static "ui/js/lr_exports.jsx" %}">
</script>
<script type="text/jsx"
        src="{% static "ui/js/listing_resources.jsx" %}">
</script>
<script type="text/jsx"
        src="{% static "ui/js/xml_panel.jsx" %}">
</script>
<script type="text/jsx"
        src="{% static "ui/js/pagination.jsx" %}">
</script>
<script type="text/jsx"
        src="{% static "ui/js/utils.jsx" %}">
</script>
{% endcompress %}
<script type="text/javascript">
require(["listing", "jquery"], function(Listing, $) {
  var listingOptions = {
    repoSlug: "{{ repo.slug|escapejs }}",
    allExports: {{ exports_json|safe }},
    sortingOptions: {{ sorting_options_json|safe }},
    loggedInUsername: "{{ request.user.username|escapejs }}",
    imageDir: "{% static "ui/images"|escapejs %}",
    pageSize: {{ page_size_json|safe }}
  };

  $(function() {
    Listing.loader(listingOptions, $("#listing")[0]);
  });
});
</script>
{% endblock %}
