{% extends "base.html" %}
{% block nav %}
  {{ nav.super }}
    <div class="btn-group dropdown-repository">
      <button type="button" class="btn btn-default">Repository Actions</button>
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu">
   	    {% if 'import_course' in perms_on_cur_repo %}
 	      <li>
 	    	<a href="{% url 'upload' repo.slug %}"><i class="fa fa-arrow-circle-o-right"></i> Import Course</a>
          </li>
 	    {% endif %}
  	    {% if 'manage_taxonomy' in perms_on_cur_repo %}
          <li>
            <a href="#0" class="btn-taxonomies"><i class="fa fa-cogs"></i> Manage Taxonomies</a>
          </li>
        {% endif %}
        {% if 'manage_repo_users' in perms_on_cur_repo %}
          <li>
            <a href="#repo-members" class="btn-members"><i class="fa fa-users"></i> Manage Members</a>
         </li>
        {% endif %}
      </ul>
      <input type="hidden" id="repo_slug" value="{{ repo.slug }}" />
    <div>
   {% endblock %}

  {% block extranavbarright %}
  <span class="text-repo-name">Repository: <a href="{% url 'repositories' repo.slug %}">{{ repo.name }}</a></span>
  {% endblock %}
