{% extends "base.html" %}
{% block content %}
    <div class="section-header">
        <div class="row">
            <div class="col-md-2 col-md-offset-5"><a href="{% url 'create_repo' %}" role="button"
                                                     class="btn btn-primary btn-large">Create repository</a></div>
        </div>
    </div>

    {% if repos %}
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <h2>Your repositories</h2>
                <ul class="repos">
                    {% for repo in repos %}
                        <li>
                            <a href="{% url 'listing' repo.slug 1 %}">{{ repo.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-4"></div>
        </div>
    {% endif %}
{% endblock %}
