*, *::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*::after, *::before {
    content: '';
}

body {
    font-size: 16px;
    font-family: "Droid Sans", sans-serif, Helvetica;
    color: #000;
    background: #fff;
}

a {
    color: #4A90E2;
    text-decoration: none !important;
    -webkit-transition: all ease 0.25s;
    transition: all ease 0.25s;
}

/* header */
.navbar-lore {
    min-height: 100px;
    border-bottom: 1px dashed #E3E6EA;
    margin: 0 30px;
}

.navbar-nav {
    margin: 24px 0 0 40px;
    font-size: 14px;
}

.navbar-nav > li > a {
    color: #000;
}

.navbar-nav > li > a:hover {
    background: transparent;
    color: #4A90E2;
}

.navbar-nav > li > a i {
    font-size: 18px;
}

.navbar-brand {
    float: left;
    height: auto;
    padding: 25px 0 0 0;
    font-size: 18px;
    line-height: 20px;
}

.navbar-nav .caret {
    color: #4A90E2;
    border-width: 5px 5px 0 5px;
}

.navbar-utility li {
    float: none;
    text-align: right
}

.navbar-utility li a {
    padding: 0;
}

.navbar-utility li ul li {
    text-align: left;
}

.navbar-utility li ul li a {
    padding: 5px 14px;
}

.nav-highlight {
    font-weight: 700;
}

.text-repo-name {
    font-size: 13px;
}

/* search */
.container-search {
}

.row-search {
    border-bottom: 1px dashed #E3E6EA;
    padding: 0 0 24px 0;
    margin: 0 0 0 0;
    z-index: 0;
}

.row-search .form-inline {
    margin: 24px 0 0 120px;
}

.input-search {
    background: #fbfbfb;
    border: 1px solid #E7E7E7;
    font-size: 18px;
    font-weight: 700;
    color: #000;
    /* padding:28px 20px; */
}

/* filters */
.lore-panel-group {
    padding: 24px 0 0 0;
}

.panel {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.panel-body {
    border-top: 0 !important;
}

.panel-heading .accordion-toggle:before {
    font-family: 'FontAwesome';
    content: "\f078";
    color: #F5A623;
    font-size: 12px;
    margin: 0;
    line-height: 1em;
    width: 16px;
    font-weight: 400 !important;
    display: inline-block;
    text-align: center;
    position: relative;
    top: -2px;
}

.panel-heading .accordion-toggle.collapsed:before {
    content: "\f054";
}

.lore-panel-group.panel-body {
    padding: 8px 0 0 36px;
}

.panel-title {
    font-weight: 700;
}

.lore-panel-group.panel-body {
    padding: 8px 0 0 36px;
}

.lore-panel-group > .panel-default {
    border: 0;
}

.lore-panel-group > .panel-default > .panel-heading {
    background-color: transparent;
    border: 0 !important;
    font-size: 18px;
    font-weight: 700;
}

.lore-panel-group.accordion-toggle {
    font-weight: 700;
    text-decoration: none;
}

.icheck-list {
    list-style: none;
    margin: 0 0 0 16px;
    padding: 0;
}

.icheck-list li {
    margin: 0 0 10px 0;
}

.icheck-list li span.min-width {
    min-width: 38px;
    text-align: center;
    display: inline-block;
}

.icheck-list label {
    font-weight: 400;
    font-size: 14px;
    margin: 0 0 0 4px;
    display: inline;
}

.icheck-list label img {
    width: 20px;
    margin: 0 4px 0 0;
}

.icheck-list label img.ic-vertical {
    width: 12px;
    margin: 0 8px 0 4px;
}

.icheck-list .badge {
    float: right;
    margin: 2px 0 0 0;
}

.checkbox-add-vocabulary label {
    min-height: 20px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
}

.checkbox-add-vocabulary label span:after {
    content: "\00a0";
}

.export-list li {
    margin-bottom: 24px;
}

.export-list li .tile-blurb {
    display: block;
    margin: 0 0 0 34px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.export-list label {
    font-weight: 700;
}

/* results */
.col-results {
    border-left: 1px dashed #E3E6EA;
    padding: 24px 0 0 30px;
    min-height: 1000px;
}

.grid-row-top {
    margin: 14px 0;
}

.grid-row-top div {
    padding: 0;
}

.tile {
    margin: 18px 0 18px 0;
}

.col-export {
    text-align: center;
}

.link-export {
    margin: 18px 0 0 0;
    display: inline-block;
    font-size: 12px;
}

.tile-content {
    width: 75%;
    display: inline-block;
}

.tile-icon {
    border-radius: 50%;
    border: 1px solid #eee;
    width: 53px;
    height: 53px;
    margin: 0 8px 0 0;
    text-align: left;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.tile-icon img {
    position: relative;
    top: 12px;
}

.tile-color-1 {
    border-color: #B01574; /* purple */
}

.tile-color-2 {
    border-color: #F5A623; /* yellow */
}

.tile-color-3 {
    border-color: #1589B0; /* blue */
}

.tile-color-4 {
    border-color: #417505; /* green */
}

.tile-color-5 {
    border-color: #C24242; /* red */
}

.tile-color-6 {
    border-color: #5C7694; /* navy blue */
}

.tile-content h2 {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.tile-blurb {
    font-size: 14px;
    line-height: 125%;
    padding: 4px 0;
}

.tile-meta {
    font-size:small;
    color:#929292;
}

.meta-item {
    display: inline-block;
    margin: 0 14px 0 0;
}

.meta-item .fa {
    font-size: 16px;
}

.sub-meta {
    display: inline-block;
    float: right;
    width: 60%;
    text-align: right;
}

.sub-meta .meta-item {
    width: 65px;
    text-align: left;
}

.sub-meta .meta-item.mi-col-4 {
    width: 24px;
}

/* pagination */
.lore-pagination {
    padding: 40px 0;
    font-size: 50px;
    text-align: center;
}

.lore-pagination a {
    display: inline-block;
    margin: 0 14px;
}

.lore-pagination a.disabled {
    color: #eee;
}

/* edit/delete */

.utility-features {
    color: #666;
    text-align: right;
    display: inline-block;
}

.utility-features a {
    min-width: 12px !important;
    color: #ccc;
}

.utility-features a:hover {
    color: #4A90E2;
}

/* footer */
footer {
    border-top: 1px dashed #E3E6EA;
    padding: 30px;
    color: #8D8D8D;
    font-size: 12px;
}

.links-footer {
    display: inline-block;
    margin: 0 30px;
}

.links-footer a {
    display: inline-block;
    margin: 0 24px 0 0;
}

/* panels */
.panel-lore {
    text-align: center;
    min-height: 130px;
}

.main-label {
    text-transform: uppercase;
    color: #666;
    font-size: 12px;
    display: block;
    padding: 0 0 10px 0;
}

.main-icon {
    display: block;
    color: #666;
}

.main-value {
    font-weight: 700;
    color: #666;
    display: block;
    padding: 8px 0 0 0;
    font-size: 18px;
}

.main-chart {

}

.form-desc {
    margin: 24px 0 0 0;
}

.textarea-desc {
    height: 100px !important;
    margin: 0 0 0 15px;
    width: 95%;
}

.form-desc .control-label {
    text-align: left;
}

/* buttons */

.btn-white {
    border: 1px solid #4A90E2;
}

/* drawer */

.drawer-tabs li.tab-long {
    white-space: nowrap;
}

.drawer-tabs li a {
    border: 0 !important;
    border-top: 2px solid #fff !important;
    border-radius: 0 !important;
    padding: 0 14px 12px 14px !important;
    font-size: 14px;
}

.drawer-tabs li.tab-long a {
    padding: 18px 20px 12px 14px !important;
}

.drawer-tabs li.active a {
    border-top: 2px solid #F5A623 !important;
    font-weight: 700;
}

.cd-panel-content .panel-heading {
    padding: 10px 0;
}

ul.with-utility-features {
    margin-left: 35px;
}

.form-control.textarea-xml {
    height: 400px;
    font-size: 12px;
    font-weight: 700;
}

.listing-table {
    table-layout: fixed;
    word-wrap: break-word;
}

div#term-list-container .panel-heading {
    padding: 10px 15px;
}

ul#term-list li.applied-term span.label {
    color:black;
}

ul#term-list {
    list-style: none;
    padding-left:0;
}

div#term-list-container .panel-heading {
    padding: 10px 15px;
}

ul#term-list li.applied-term span.label {
    color:black;
}

ul#term-list {
    list-style: none;
    padding-left:0;
}

/* welcome/home page */

.section-header {
    padding: 80px;
    border-bottom: 1px dashed #E3E6EA;
}

ul.repos {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.repo-page-status {
    white-space: nowrap;
    cursor: pointer;
    display: inline;
    font-size: 25px;
    position: relative;
    top: 27%;
    transform: translateY(-27%);
}

input.repo-page-status {
    width: 7%;
    display: inline;
    font-size: medium;
    position: relative;
    top: 27%;
    transform: translateY(-27%);
}

.modal-dialog {
    position: absolute;
    right: 0;
    left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.modal.fade .modal-dialog {
    transition: top 0.4s ease-out;
    transform: translate(0, -50%);
    top: 0;
}

.modal.in .modal-dialog {
    transform: translate(0, -50%);
    top: 50%;
}

.modal-dialog p {
    font-size: medium;
}

.edit-term-box {
    width: 50%;
    display: inline;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a.disabled {
    padding: 0px;
    pointer-events: none;
    cursor: none;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}

p.confirmation-description {
    font-size: small;
    font-style: normal;
    font-weight: normal;
}
